/WebServiceProject/nbproject/private/
/TesWebService/nbproject/private/
/AppsWebService/nbproject/private/
/WebServiceProject/build/
/WebServiceProject/dist/
/AppsWebService/build/
/AppsWebService/dist/
/165314104_WebServiceProjectRS/nbproject/private/
/165314104_WebServiceProjectRS/build/
/165314104_WebServiceProjectRS/dist/
/ProjectRS/nbproject/private/
/ProjectRS/build/